FROM openshift/jenkins-2-centos7

USER root

{# RUN yum update -y #}
RUN yum install -y sudo
RUN echo "{{admin_user}} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
RUN yum install -y docker-client
RUN [ -d /home/{{admin_user}} ] || mkdir /home/{{ admin_user }}
RUN echo "docker='sudo docker'" > /home/{{ admin_user }}/.bashrc

{# 
{% for pack in yum_packs %}
RUN yum install -y {{ pack }}
{% endfor %}

{% for pack in pip_packs %}
RUN pip install {{ pack }}
{% endfor %}
#}

USER {{ admin_user }}
